{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

  <header class="main-header post-head {{#if image}}" style="background-image: url({{image}});background-position: center center;background-repeat: no-repeat;background-size: cover; {{else}}no-cover{{/if}}">
    <div class="overlay"></div>
    <section class="description">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <section class="post-meta">
              {{tags separator=''}}
              <h1 class="post-title">{{title}}</h1>
            </section>
            {{#author}}
              {{#if image}}
                <section class="author">
                  <figure class="author-image">
                    <a href="{{url}}"><img class="img-responsive" src="{{image}}"/></a>
                  </figure>
                  <section class="name-date">
                    <span class="name">{{name}}</span><br/>
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date
                        format="DD MMMM YYYY"}}</time>
                  </section>
                </section>
              {{/if}}
            {{/author}}
            <hr />
            <div class="share-buttons">
              <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?url={{url}}&text={{text}}"></a>
              <a class="fa fa-envelope-o" href="https://twitter.com/intent/tweet?url={{url}}&text={{text}}"></a>
              <a class="fa fa-copy" href="https://twitter.com/intent/tweet?url={{url}}&text={{text}}"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>


  <main class="content" role="main">
    <article class="{{post_class}}">
      <section class="post-content">
        {{content}}
      </section>
      <footer class="post-footer hide">
        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}
          {{#if image}}
            <figure class="author-image">
              <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
          {{/if}}

          <section class="author">
            <h4><a href="{{url}}">{{name}}</a></h4>

            {{#if bio}}
              <p>{{bio}}</p>
            {{else}}
              <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
            <div class="author-meta">
              {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
              {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            </div>
          </section>
        {{/author}}
      </footer>
    </article>
  </main>

  <aside class="read-next hide">
    {{#next_post}}
      <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}"
          href="{{url}}">
        <section class="post">
          <h2>{{title}}</h2>
          <p>{{excerpt words="19"}}&hellip;</p>
        </section>
      </a>
    {{/next_post}}
    {{#prev_post}}
      <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}"
          href="{{url}}">
        <section class="post">
          <h2>{{title}}</h2>
          <p>{{excerpt words="19"}}&hellip;</p>
        </section>
      </a>
    {{/prev_post}}
  </aside>

{{/post}}
